
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


.card {
    width: 300px;
    border: solid 3px black;
    border-radius: 15px;
}

.btn {
    border: 3px;
    border-radius: 6px;
    background-color: black;
    font-size: 25px;
    line-height: 2.5;
    padding: 5px 15px;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.text-decoration {
    text-decoration: none;
    color: white;
}

.text {
    font-family: "Parkinsans", sans-serif;;
}